{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://www.googleapis.com/games/v1configuration"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "The Publishing API for Google Play Game Services.",
        "title": "Google Play Game Services Publishing",
        "version": "v1configuration",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-apisguru-categories": [
            "social"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_play_games_64dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://www.googleapis.com/discovery/v1/apis/gamesConfiguration/v1configuration/rest",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "gamesConfiguration"
    },
    "externalDocs": {
        "url": "https://developers.google.com/games/services"
    },
    "tags": [
        {
            "name": "achievementConfigurations"
        },
        {
            "name": "imageConfigurations"
        },
        {
            "name": "leaderboardConfigurations"
        }
    ],
    "paths": {
        "/achievements/{achievementId}": {
            "delete": {
                "description": "Delete the achievement configuration with the given ID.",
                "operationId": "gamesConfiguration.achievementConfigurations.delete",
                "parameters": [
                    {
                        "description": "The ID of the achievement used by this method.",
                        "in": "path",
                        "name": "achievementId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response"
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/androidpublisher"
                        ]
                    }
                ],
                "tags": [
                    "achievementConfigurations"
                ]
            },
            "get": {
                "description": "Retrieves the metadata of the achievement configuration with the given ID.",
                "operationId": "gamesConfiguration.achievementConfigurations.get",
                "parameters": [
                    {
                        "description": "The ID of the achievement used by this method.",
                        "in": "path",
                        "name": "achievementId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This is a JSON template for an achievement configuration resource.",
                                    "properties": {
                                        "achievementType": {
                                            "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
                                            "type": "string"
                                        },
                                        "draft": {
                                            "description": "The draft data of the achievement.",
                                            "properties": {
                                                "description": {
                                                    "description": "Localized strings for the achievement description.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "iconUrl": {
                                                    "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "gamesConfiguration#achievementConfigurationDetail",
                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Localized strings for the achievement name.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pointValue": {
                                                    "description": "Point value for the achievement.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "sortRank": {
                                                    "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "description": "The ID of the achievement.",
                                            "type": "string"
                                        },
                                        "initialState": {
                                            "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "gamesConfiguration#achievementConfiguration",
                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.",
                                            "type": "string"
                                        },
                                        "published": {
                                            "description": "The read-only published data of the achievement.",
                                            "properties": {
                                                "description": {
                                                    "description": "Localized strings for the achievement description.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "iconUrl": {
                                                    "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "gamesConfiguration#achievementConfigurationDetail",
                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Localized strings for the achievement name.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pointValue": {
                                                    "description": "Point value for the achievement.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "sortRank": {
                                                    "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "stepsToUnlock": {
                                            "description": "Steps to unlock. Only applicable to incremental achievements.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "token": {
                                            "description": "The token for this resource.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/androidpublisher"
                        ]
                    }
                ],
                "tags": [
                    "achievementConfigurations"
                ]
            },
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Update the metadata of the achievement configuration with the given ID. This method supports patch semantics.",
                "operationId": "gamesConfiguration.achievementConfigurations.patch",
                "parameters": [
                    {
                        "description": "The ID of the achievement used by this method.",
                        "in": "path",
                        "name": "achievementId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This is a JSON template for an achievement configuration resource.",
                                    "properties": {
                                        "achievementType": {
                                            "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
                                            "type": "string"
                                        },
                                        "draft": {
                                            "description": "The draft data of the achievement.",
                                            "properties": {
                                                "description": {
                                                    "description": "Localized strings for the achievement description.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "iconUrl": {
                                                    "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "gamesConfiguration#achievementConfigurationDetail",
                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Localized strings for the achievement name.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pointValue": {
                                                    "description": "Point value for the achievement.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "sortRank": {
                                                    "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "description": "The ID of the achievement.",
                                            "type": "string"
                                        },
                                        "initialState": {
                                            "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "gamesConfiguration#achievementConfiguration",
                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.",
                                            "type": "string"
                                        },
                                        "published": {
                                            "description": "The read-only published data of the achievement.",
                                            "properties": {
                                                "description": {
                                                    "description": "Localized strings for the achievement description.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "iconUrl": {
                                                    "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "gamesConfiguration#achievementConfigurationDetail",
                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Localized strings for the achievement name.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pointValue": {
                                                    "description": "Point value for the achievement.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "sortRank": {
                                                    "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "stepsToUnlock": {
                                            "description": "Steps to unlock. Only applicable to incremental achievements.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "token": {
                                            "description": "The token for this resource.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/androidpublisher"
                        ]
                    }
                ],
                "tags": [
                    "achievementConfigurations"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "This is a JSON template for an achievement configuration resource.",
                                "properties": {
                                    "achievementType": {
                                        "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
                                        "type": "string"
                                    },
                                    "draft": {
                                        "description": "The draft data of the achievement.",
                                        "properties": {
                                            "description": {
                                                "description": "Localized strings for the achievement description.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "iconUrl": {
                                                "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                "type": "string"
                                            },
                                            "kind": {
                                                "default": "gamesConfiguration#achievementConfigurationDetail",
                                                "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "Localized strings for the achievement name.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "pointValue": {
                                                "description": "Point value for the achievement.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "sortRank": {
                                                "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                "format": "int32",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "id": {
                                        "description": "The ID of the achievement.",
                                        "type": "string"
                                    },
                                    "initialState": {
                                        "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                                        "type": "string"
                                    },
                                    "kind": {
                                        "default": "gamesConfiguration#achievementConfiguration",
                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.",
                                        "type": "string"
                                    },
                                    "published": {
                                        "description": "The read-only published data of the achievement.",
                                        "properties": {
                                            "description": {
                                                "description": "Localized strings for the achievement description.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "iconUrl": {
                                                "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                "type": "string"
                                            },
                                            "kind": {
                                                "default": "gamesConfiguration#achievementConfigurationDetail",
                                                "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "Localized strings for the achievement name.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "pointValue": {
                                                "description": "Point value for the achievement.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "sortRank": {
                                                "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                "format": "int32",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "stepsToUnlock": {
                                        "description": "Steps to unlock. Only applicable to incremental achievements.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "token": {
                                        "description": "The token for this resource.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Update the metadata of the achievement configuration with the given ID.",
                "operationId": "gamesConfiguration.achievementConfigurations.update",
                "parameters": [
                    {
                        "description": "The ID of the achievement used by this method.",
                        "in": "path",
                        "name": "achievementId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This is a JSON template for an achievement configuration resource.",
                                    "properties": {
                                        "achievementType": {
                                            "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
                                            "type": "string"
                                        },
                                        "draft": {
                                            "description": "The draft data of the achievement.",
                                            "properties": {
                                                "description": {
                                                    "description": "Localized strings for the achievement description.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "iconUrl": {
                                                    "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "gamesConfiguration#achievementConfigurationDetail",
                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Localized strings for the achievement name.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pointValue": {
                                                    "description": "Point value for the achievement.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "sortRank": {
                                                    "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "description": "The ID of the achievement.",
                                            "type": "string"
                                        },
                                        "initialState": {
                                            "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "gamesConfiguration#achievementConfiguration",
                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.",
                                            "type": "string"
                                        },
                                        "published": {
                                            "description": "The read-only published data of the achievement.",
                                            "properties": {
                                                "description": {
                                                    "description": "Localized strings for the achievement description.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "iconUrl": {
                                                    "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "gamesConfiguration#achievementConfigurationDetail",
                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Localized strings for the achievement name.",
                                                    "properties": {
                                                        "kind": {
                                                            "default": "gamesConfiguration#localizedStringBundle",
                                                            "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                            "type": "string"
                                                        },
                                                        "translations": {
                                                            "description": "The locale strings.",
                                                            "items": {
                                                                "description": "This is a JSON template for a localized string resource.",
                                                                "properties": {
                                                                    "kind": {
                                                                        "default": "gamesConfiguration#localizedString",
                                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                        "type": "string"
                                                                    },
                                                                    "locale": {
                                                                        "description": "The locale string.",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "description": "The string value.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pointValue": {
                                                    "description": "Point value for the achievement.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "sortRank": {
                                                    "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "stepsToUnlock": {
                                            "description": "Steps to unlock. Only applicable to incremental achievements.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "token": {
                                            "description": "The token for this resource.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/androidpublisher"
                        ]
                    }
                ],
                "tags": [
                    "achievementConfigurations"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "This is a JSON template for an achievement configuration resource.",
                                "properties": {
                                    "achievementType": {
                                        "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.",
                                        "type": "string"
                                    },
                                    "draft": {
                                        "description": "The draft data of the achievement.",
                                        "properties": {
                                            "description": {
                                                "description": "Localized strings for the achievement description.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "iconUrl": {
                                                "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                "type": "string"
                                            },
                                            "kind": {
                                                "default": "gamesConfiguration#achievementConfigurationDetail",
                                                "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "Localized strings for the achievement name.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "pointValue": {
                                                "description": "Point value for the achievement.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "sortRank": {
                                                "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                "format": "int32",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "id": {
                                        "description": "The ID of the achievement.",
                                        "type": "string"
                                    },
                                    "initialState": {
                                        "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.",
                                        "type": "string"
                                    },
                                    "kind": {
                                        "default": "gamesConfiguration#achievementConfiguration",
                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.",
                                        "type": "string"
                                    },
                                    "published": {
                                        "description": "The read-only published data of the achievement.",
                                        "properties": {
                                            "description": {
                                                "description": "Localized strings for the achievement description.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "iconUrl": {
                                                "description": "The icon url of this achievement. Writes to this field are ignored.",
                                                "type": "string"
                                            },
                                            "kind": {
                                                "default": "gamesConfiguration#achievementConfigurationDetail",
                                                "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "Localized strings for the achievement name.",
                                                "properties": {
                                                    "kind": {
                                                        "default": "gamesConfiguration#localizedStringBundle",
                                                        "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.",
                                                        "type": "string"
                                                    },
                                                    "translations": {
                                                        "description": "The locale strings.",
                                                        "items": {
                                                            "description": "This is a JSON template for a localized string resource.",
                                                            "properties": {
                                                                "kind": {
                                                                    "default": "gamesConfiguration#localizedString",
                                                                    "description": "Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.",
                                                                    "type": "string"
                                                                },
                                                                "locale": {
                                                                    "description": "The locale string.",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The string value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "pointValue": {
                                                "description": "Point value for the achievement.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "sortRank": {
                                                "description": "The sort rank of this achievement. Writes to this field are ignored.",
                                                "format": "int32",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "stepsToUnlock": {
                                        "description": "Steps to unlock. Only applicable to incremental achievements.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "token": {
                                        "description": "The token for this resource.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/achievements": {
            "get": {
                "description": "Returns a list of the achievement configurations in this application.",
                "operationId": "gamesConfiguration.achievementConfigurations.list",
                "parameters": [
                    {
                        "description": "The application ID from the Google Play developer console.",
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
[...]
